body {
	background: transparent url(../images/bg.gif);
}

#container{
	position: relative;
	min-width: 500px;
	max-width: 700px;
	height: 100%;
	margin: 0px auto 0px auto;
	background-color: #00abbe;
	color: #666;
	font-family: Verdana, Arial, sans-serif;
	font-size: small;
	border: 10px solid #00abbe;
}
	
h1 {
	color: #00adc1;
	margin: 0px 0px 5px 0px;
	padding-top: 5px;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	text-indent: -11000px;
}

h2 {
	color: #666;
	margin: 0px 0px 5px 0px;
	padding: 5px 0px 10px 0px;
	font-size: 1.1em;
	font-weight: bold;
}

section#wrap {
	background-color: #f3f3f3;
}

form {
	height: 100%;
}

fieldset {
	display: block;
	padding: 5px 0px 5px 0px;
}

header {
	background-color: #00abbe;
}

section {
	padding: 5px 10px 5px 10px;
}

nav#tabs {
	height:30px;
}

nav#tabs li {
	float:left;
	width: 27%;
	height: 20px;
	margin-left: 10px;
	text-align: center;
	padding-bottom: 5px;
	list-style:none;
}

nav#tabs li.moreTabs {
	width: 9%;
}

nav#tabs li + li {
	*border-left: 1px solid #666;
}
	
nav#tabs li a {
	background-color: #fff;
	color: #666;
	font-weight: bold;
	display: block;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

nav#tabs li a:hover {
	background-color: #d6d6d6;
}

#tabs-1, #tabs-2, #tabs-3, #tabs-4 {
	background-color: #fff;
	margin: 5px 0px 5px 0px;
	padding:5px;
}

footer {
	width: 100%;
	text-align: center;
	padding: 5px 0px 5px 0px;
	background-color: #f3f3f3;
}