body {
	background: transparent url(../images/bg.gif);
	height: 700px;
}

#container{
	min-width: 500px;
	max-width: 700px;
	margin: 0px auto 0px auto;
	background-color: #fff;
	color: #666;
	font-family: Verdana, Arial, sans-serif;
	font-size: small;
	line-height: 20px;
	border: 10px solid #f3f3f3;
}

header {
	background-color: #00abbe;
	height: 120px;
	text-align: center;
}

header img {
	position: relative;
	top: 10px;
	float: right;
	margin-right: 250px;
	clear: both;
}
	
header h1 {
	color: #000000;
	font-size: 1.1em;
	font-weight: bold;
	text-indent: -11000px;	
}

header h2 {
	color: #ffffff;
	padding: 20px 0px 15x 0px;
}

#wrap, section#wrap {
	background-color: #fff;
	padding: 5px 50px 5px 50px;
}

h2 {
	color: #666;
	margin: 0px 0px 5px 0px;
	padding: 5px 0px 10px 0px;
	font-size: 1.1em;
	font-weight: bold;
}

#palette1, #palette2, #palette3 {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	background-color: #f3f3f3;
	text-indent: 20px;
}

#color-palettes dd {
	background-color: #ffffff;
	padding-left: 60px;
}

form {
	height: 100%;
}

fieldset {
	display: block;
	padding: 5px 0px 5px 0px;
}

#name, #email {
	position: absolute;
	left: 70px;
}

input[type="submit"] {
	background: #d6d6d6;
	color: #666666;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;	
	padding: 5px;
	margin: 15px 0px 15px 0px;
}

#tabs-1-button.ui-state-active, #tabs-1-button a:hover {
	display: block;
	background: #5ebec9;
}

#tabs-1 {
	border: 4px solid #5ebec9;
}

#tabs-2-button.ui-state-active, #tabs-2-button a:hover {
	display: block;
	background: #c21457;
}

#tabs-2 {
	border: 4px solid #c21457;
}

#tabs-3-button.ui-state-active, #tabs-3-button a:hover {
	display: block;
	background: #0c3d6a;
}

#tabs-3 {
	border: 4px solid #0c3d6a;
}

#tabs-4 {
	border: 4px solid #d6d6d6;
}

#tabs-1, #tabs-2, #tabs-3, #tabs-4 {
	background: #ffffff;
	padding: 10px 15px 25px 15px;
}

footer {
	text-align: center;
	padding: 5px 0px 5px 0px;
	background-color: #fff;
	display: block;
}
