body {
	background: transparent url(../images/paper-pattern.png);
	min-width: 580px;
	min-height: 768px;
}

a:hover {
	text-decoration: underline;
}

#container{
	width: 580px;
	margin: 0px auto 0px auto;
	background-color: transparent;
	color: #666;
	font-family: Verdana, Arial, sans-serif;
	font-size: small;
}

header {
  display: block;	
	text-align: center;
}

header ul {
	list-style: none;
}

header ul li img {
	position: relative;
	top: 20px;
	width: 375px;
	height: 87px;
	margin-bottom: 10px;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
	
header h1 {
	color: #ababab;
	font-size: 1.1em;
	font-weight: bold;
	text-indent: -11000px;
}

header h2 {
	font-size: 1.1em;
	color: #ababab;
	padding: 5px 0px 0px 0px;
	text-transform: lowercase;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

header h3 {
	color: #444;
	margin: 0px 0px 5px 0px;
	padding: 5px 0px 10px 0px;
	font-weight: bold;
	text-transform: uppercase;
}

#daily-find {
	display: block;
	background-color: #fdfdfd;
	border: 4px solid #f7f6ee;
	margin: 0px 20px 0px 20px;
	padding: 5px 15px 10px 15px;
	-moz-border-radius-bottomleft: 20px; 
	-webkit-border-bottom-left-radius: 20px; 
	border-bottom-left-radius: 20px; 
	-moz-border-radius-bottomright: 20px; 
	-webkit-border-bottom-right-radius: 20px; 
	border-bottom-right-radius: 20px;
	line-height: 15px;
	text-align: left;
}

#daily-find img {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0px 15px 10px 5px;
}

#wrap, section#wrap {
	background: transparent;
	padding: 0px 20px 5px 20px;
	line-height: 20px;
}

h2 {
	color: #666;
	margin: 0px 0px 5px 0px;
	padding: 5px 0px 10px 0px;
	font-size: .9em;
	font-weight: bold;
	text-transform: uppercase;
}

#color-palettes dt, #typography dt {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	background-color: #f3f3f3;
	text-indent: 20px;
}

#color-palettes dd, #typography dd {
	background-color: #ffffff;
	padding: 10px 0px 10px 60px;
}

#color-palettes dd ul li, #typography dd ul li  {
	padding: 0px 0px 10px 0px;
}

#color-palettes dd ul li:last-child, #typography dd ul li:last-child {
	padding: 0px;
}

form {
}

fieldset {
	display: block;
	padding: 5px 0px 5px 0px;
}

#name, #email {
	position: absolute;
	left: 70px;
}

input[type="submit"] {
	background: #d6d6d6;
	color: #666666;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;	
	padding: 5px;
	margin: 15px 0px 15px 0px;
}

#featured {
	text-align: center;
	margin: 0px 10px 0px 10px;
}

#featured img {
	padding: 50px 0px 50px 0px;
}

#featured ul li {
	text-align: left;
}

ul#blocks li#color-block, ul#blocks li#culture-block {
	float: left;
	width: 50px;
	height: 50px;
}

ul#blocks li#type-block, ul#blocks li#strategy-block {
	position: relative;
	left: 50px;
	width: 50px;
	height: 50px;
}

#color-block {
	background-color: #840e3b;
}

.color-block-active {
	background-color: #c21457;
}

#type-block {
	background-color: #07243f;
}

.type-block-active {
	background-color: #125b9e;
}

#culture-block {
	background-color: #54a9b3;
}

.culture-block-active {
	background-color: #5ebec9;
}

#strategy-block {
	background-color: #8d5493;
}

.strategy-block-active {
	background-color: #bd70c5;
}

#tabs-2-button.ui-state-active, #tabs-2-button a:hover {
	display: block;
	background: #c21457;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px; 
	border-top-left-radius: 10px; 
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px; 
	border-top-right-radius: 10px; 
}

#tabs-2-button {
	background: #840e3b;
}

#tabs-2 {
	border: 4px solid #c21457;
}

#tabs-3-button.ui-state-active, #tabs-3-button a:hover {
	display: block;
	background: #125b9e;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px; 
	border-top-left-radius: 10px; 
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px; 
	border-top-right-radius: 10px; 
}

#tabs-3-button {
	background: #07243f;
}

#tabs-3 {
	border: 4px solid #125b9e;
}

#tabs-4-button.ui-state-active, #tabs-4-button a:hover {
	display: block;
	background: #5ebec9;
	color: #ffffff;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px; 
	border-top-left-radius: 10px; 
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px; 
	border-top-right-radius: 10px; 
}

#tabs-4-button {
	background: #54a9b3;
}

#tabs-4 {
	border: 4px solid #5ebec9;
}

#tabs-5-button.ui-state-active, #tabs-5-button a:hover {
	display: block;
	background: #bd70c5;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px; 
	border-top-left-radius: 10px; 
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px; 
	border-top-right-radius: 10px; 
}

#tabs-5-button {
	background: #8d5493;
}

#tabs-5 {
	border: 4px solid #bd70c5;
}

#tabs-1, #tabs-6 {
	border: 4px solid #d6d6d6;
}

#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5, #tabs-6 {
	background: #fdfdfd;
	padding: 10px 15px 25px 15px;
	-moz-border-radius-topleft: 10px; 
	-webkit-border-top-left-radius: 10px; 
	border-top-left-radius: 10px; 
	-moz-border-radius-topright: 10px; 
	-webkit-border-top-right-radius: 10px; 
	border-top-right-radius: 10px; 
}

#tabs-1 a, #tabs-2 a, #tabs-3 a, #tabs-4 a, #tabs-5 a, #tabs-6 a {
	color: #d92f6f;
	text-decoration: none;
}

#tabs-1-button, #tabs-2-button, #tabs-3-button, #tabs-4-button, #tabs-5-button, #tabs-6 -button {
	text-transform: uppercase;
}

footer {
	text-align: center;
	padding: 5px 0px 5px 0px;
	background: transparent;
	color: #999999;
	display: block;
}
